body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin: 8px;
}

#container {
    display: grid;
    gap: 1px;
    width: 90vh;
}

.square {
    aspect-ratio: 1;
    border: thin solid black;
    transition: background-color 100s;
}

.square:hover {
    background-color: black;
    transition: background-color .1s;
}