#header {
    display: grid;
    margin: 8px;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 4px;
}

.square {
    aspect-ratio: 1;
    border: solid black;
    transition: background-color 100s;
}

.square:hover {
    background-color: gray;
    transition: background-color .1s;
}