#header {
    display: grid;
    margin: 8px;
    justify-content: center;
}

#container {
    display: grid;
    gap: 1px;
}

.square {
    aspect-ratio: 1;
    border: thin solid black;
    transition: background-color 100s;
}

.square:hover {
    background-color: black;
    transition: background-color .1s;
}